TAKING DATASET

In [1]:
from pycaret.datasets import get_data
from pycaret.clustering import *
data = get_data('iris')
data = data.drop('species', axis=1)
print(data)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

USING THREE MODELS K MEANS,HEIRARCHICAL AND BIRCH

In [2]:

models = ['kmeans', 'hierarchical', 'birch']
clusters = [3, 4, 5]

NO PREPROCESSING

In [3]:
for model in models:
    for cluster in clusters:
        setup1 = setup(data, normalize=False, pca=False, preprocess=False, session_id=2)
        if model == 'kmeans':
            mod1 = create_model('kmeans', num_clusters=cluster)
        elif model == 'hierarchical':
            mod1 = create_model('hclust', num_clusters=cluster)
        elif model == 'birch':
            mod1 = create_model('birch', num_clusters=cluster)
        print(f"For {model} with {cluster} clusters without PreProcessing")
        evaluate_model(mod1)

For kmeans with 3 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For kmeans with 4 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For kmeans with 5 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 3 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 4 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 5 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 3 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 4 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 5 clusters without PreProcessing

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

WITH NORMALISATION

In [4]:
for model in models:
    for cluster in clusters:
        setup1 = setup(data, normalize=True, pca=False, preprocess=True, session_id=2)
        if model == 'kmeans':
            mod1 = create_model('kmeans', num_clusters=cluster)
        elif model == 'hierarchical':
            mod1 = create_model('hclust', num_clusters=cluster)
        elif model == 'birch':
            mod1 = create_model('birch', num_clusters=cluster)
        print(f"For {model} with {cluster} clusters with Normalization")
        evaluate_model(mod1)

Processing:   0%|          | 0/3 [00:00<?, ?it/s]

For kmeans with 3 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For kmeans with 4 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For kmeans with 5 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 3 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 4 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 5 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 3 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 4 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 5 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

USING TRANSFORMATION

In [5]:
from sklearn.preprocessing import StandardScaler

def custom_preprocess(data):
    scaler = StandardScaler()
    data = scaler.fit_transform(data)
    return data
for model in models:
    for cluster in clusters:
        setup1 = setup(data, normalize=False, pca=False, preprocess=True, session_id=2,transformation=custom_preprocess)
        if model == 'kmeans':
            mod1 = create_model('kmeans', num_clusters=cluster)
        elif model == 'hierarchical':
            mod1 = create_model('hclust', num_clusters=cluster)
        elif model == 'birch':
            mod1 = create_model('birch', num_clusters=cluster)
        print(f"For {model} with {cluster} clusters with Normalization")
        evaluate_model(mod1)

For kmeans with 3 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For kmeans with 4 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For kmeans with 5 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 3 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 4 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 5 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 3 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 4 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 5 clusters with Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

USING PCA

In [6]:
for model in models:
    for cluster in clusters:
        setup1 = setup(data, normalize=False, pca=True, preprocess=True, session_id=2)
        if model == 'kmeans':
            mod1 = create_model('kmeans', num_clusters=cluster)
        elif model == 'hierarchical':
            mod1 = create_model('hclust', num_clusters=cluster)
        elif model == 'birch':
            mod1 = create_model('birch', num_clusters=cluster)
        print(f"For {model} with {cluster} clusters with PCA")
        evaluate_model(mod1)

For kmeans with 3 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For kmeans with 4 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For kmeans with 5 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 3 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 4 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 5 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 3 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 4 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 5 clusters with PCA

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

USING NORMALISATION AND TRANSFORMATION

In [7]:
for model in models:
    for cluster in clusters:
        setup1 = setup(data, normalize=True, pca=False, preprocess=True, session_id=2,transformation=custom_preprocess)
        if model == 'kmeans':
            mod1 = create_model('kmeans', num_clusters=cluster)
        elif model == 'hierarchical':
            mod1 = create_model('hclust', num_clusters=cluster)
        elif model == 'birch':
            mod1 = create_model('birch', num_clusters=cluster)
        print(f"For {model} with {cluster} clusters with Transformation and Normalization")
        evaluate_model(mod1)

For kmeans with 3 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For kmeans with 4 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For kmeans with 5 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 3 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 4 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 5 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 3 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 4 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 5 clusters with Transformation and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

USING TRANSFORMATION ,NORMALISATION AND PCA

In [8]:
for model in models:
    for cluster in clusters:
        setup1 = setup(data, normalize=True, pca=True, preprocess=True, session_id=2,transformation=custom_preprocess)
        if model == 'kmeans':
            mod1 = create_model('kmeans', num_clusters=cluster)
        elif model == 'hierarchical':
            mod1 = create_model('hclust', num_clusters=cluster)
        elif model == 'birch':
            mod1 = create_model('birch', num_clusters=cluster)
        print(f"For {model} with {cluster} clusters with Transformation, PCA, and Normalization")
        evaluate_model(mod1)

For kmeans with 3 clusters with Transformation, PCA, and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For kmeans with 4 clusters with Transformation, PCA, and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For kmeans with 5 clusters with Transformation, PCA, and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 3 clusters with Transformation, PCA, and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 4 clusters with Transformation, PCA, and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For hierarchical with 5 clusters with Transformation, PCA, and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 3 clusters with Transformation, PCA, and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 4 clusters with Transformation, PCA, and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

For birch with 5 clusters with Transformation, PCA, and Normalization

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…